<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
            <i class="fas fa-plus-square"></i> Create Your post
        </h1>
        <%- include ("./partials/messages"); %>
        <form action="/posts/createPost" method="POST" autocomplete="off">
          <div class="form-group">
            <label for="message" class="form-label mt-4">Create Your Post</label>
            <input
              type="message"
              id="message"
              name="message"
              class="form-control"
              placeholder="Write Your Post Here"
              value="<%= typeof message != 'undefined' ? message : '' %>"
            />
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-large btn-primary mt-4">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>