<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="display-3">Search For A User</h1>
      <div class="input-group">
        <input class="form-control" id="search" type="text" placeholder="search for a user" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-primary" id="search-btn" type="submit">
            <i class="fas fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/searchLoad.js"></script>